<?xml version ="1.0" encoding="utf-8" ?>
<configuration>
 <connectionStrings>
    <add name="SQLiteConnection" connectionString="Data Source=DemoDB.db;Version=3;" providerName="System.Data.SqlClient" />
    <add name="SqlConnection" connectionString="Server=localhost\SQLEXPRESS;Database=DEMO;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>